In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from matplotlib import pyplot as plt
from sklearn.datasets import make_regression
from sklearn.preprocessing import StandardScaler

Prediction: I believe the Logistic Regression model will be the better of the two. In class it semed that the Logistic Regression is a better performing model and I think it will out perform the Random Tree model.

In [5]:
# Import the data
file_path = Path("Resources/lending_data.csv")
df = pd.read_csv(file_path)
df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [6]:
# Define the x (features) and y (target) sets
y = df["loan_status"]
target_names = ["denied", "accepted"]

X = df.drop("loan_status", axis=1)

In [16]:
# Split the data into X_train, X_test, y_train, y_test

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=10)
X_test.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
28092,9500.0,7.146,47800,0.372385,4,0,17800
25629,9300.0,7.076,47200,0.364407,3,0,17200
774,10300.0,7.488,51100,0.412916,4,1,21100
23074,9300.0,7.083,47300,0.365751,3,0,17300
35977,9100.0,6.983,46300,0.352052,3,0,16300

In [17]:
# Train a Logistic Regression model print the model score
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9920724996560737
Testing Data Score: 0.9920037144036319

In [13]:
# Import RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

In [14]:
# Preparing Data
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [15]:
# Train a Random Forest Classifier model and print the model score
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train, y_train)
print(f'Training Score: {clf.score(X_train, y_train)}')
print(f'Testing Score: {clf.score(X_test, y_test)}')

Training Score: 0.9970594304581097
Testing Score: 0.9929323153115972